<!doctype html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>Ayse Elif Dagli</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="{{ url_for('static', path='css/production.css') }}">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">

        <!-- favicon.ico. Place these in the root directory. -->
        <link rel="shortcut icon" href="favicon.ico">

    </head>

    <body class="has-animations">


    <!-- Header -->
    <header class="pt2 pb1 align--center">
        <div class="container">
            <h1>WELCOME</h1>
        </div>
    </header>

    <!-- Body -->
    <main>
        
        <div class="container">

            <!-- Info -->
            <section class="grid-row grid-row--center">
                <!-- Cabin -->
                <div class="grid-column span-half pt3 pb3 mobile-m order-1 reveal-on-scroll is-revealing">
                    <div class="relative">
                        <img class="info-image relative z2" src="{{ url_for('static', path='images/1.jpeg') }}" alt="About Me">
                        <div class="pattern pattern--left-down absolute z1"></div>
                    </div>
                </div>
                <div class="grid-column span-half pt3 pb3 mobile-m order-2">
                    <h3>About Me</h3>
                    <p>Hello, I am Ayse. In April 2021, I decided to change my life and pursue a more fulfilling, digital and active life. So I started my blog.
My website is a guide for activities, adventure, and travel. This blog is a resource for readers who are seeking adventure and experience by traveling in both Turkey and abroad.</p>
                </div>
                <!-- Teepees -->
                <div class="grid-column span-half pt3 pb3 mobile-m order-4">
                    <h3>Living in NORWAY</h3>
                    <p>Moving to Norway is a desire that many people share. My husband and me had the chance to do it last year, in November 2021. To be honest, it is one of the greatest periods of my life and I really love my life in Norway, even if the adjustments are sometimes harsh and difficult.</p>
                </div>
                <div class="grid-column span-half pt3 pb3 mobile-m order-3 reveal-on-scroll is-revealing">
                    <div class="relative">
                        <img class="info-image relative z2" src="{{ url_for('static', path='images/teepee.jpg') }}" alt="Living in NORWAY">
                        <div class="pattern pattern--right-middle absolute z1"></div>
                    </div>
                </div>
                <!-- Fishing -->
                <div class="grid-column span-half pt3 pb3 mobile-m order-5 reveal-on-scroll is-revealing">
                    <div class="relative">
                        <img class="info-image relative z2" src="{{ url_for('static', path='images/2.jpeg') }}" alt="Christmas in NORWAY">
                        <div class="pattern pattern--left-up absolute z1"></div>
                    </div>
                </div>
                <div class="grid-column span-half pt3 pb3 mobile-m order-6">
                    <h3>Christmas in NORWAY</h3>
                    <p>The main Christmas celebration is on Christmas Eve; the evening of December 24. People in Norway normally celebrate Christmas Eve with their close family, gathering for the Christmas dinner meal. Walk around the Christmas tree after dinner is an old tradition in Norway.</p>
                </div>
                <!-- Archery -->
                <div class="grid-column span-half pt3 pb3 mobile-m order-8">
                    <h3>National Dish in NORWAY</h3>
                    <p>
                        An introduction to one of Norway's most iconic brands. Love it or hate it, the frozen pizza brand Grandiosa is impossible to ignore. I also embrace it gratefully :)
                    </p>
                </div>
                <div class="grid-column span-half pt3 pb3 mobile-m order-7 reveal-on-scroll is-revealing">
                    <div class="relative">
                        <img class="info-image relative z2" src="{{ url_for('static', path='images/3.jpeg') }}" alt="National Dish in NORWAY">
                        <div class="pattern pattern--right-down absolute z1" style="height: 75%"></div>
                    </div>
                </div>

            </section>

        </div>

        <!-- Pricing -->
        <section class="align--center pt2 pb3">
            <p class="h2">Coming Soon...</p>
            <p>For more information just write me</p>
        </section>

        <!-- Contact -->
        <section class="bg--secondary-color pt3 pb3">
            <div class="container">
                <div class="mb2 align--center">
                    <h3 class="mb1">Contact me here</h3>
                    <p>I'll reply when I read your message.</p>
                </div>
                <form>
                    <div class="grid-row">
                        <div class="grid-column span-half mt1">
                            <label class="label" for="name">Name</label>
                            <input class="form-control" id="name">
                        </div>
                        <div class="grid-column span-half mt1">
                            <label class="label" for="email">Email</label>
                            <input class="form-control" id="email" type="email">
                        </div>
                    </div>
                    <label class="label mt1" for="message">Message</label>
                    <textarea class="form-control" id="message"></textarea>
                    <div class="align--right mt1">
                        <button class="btn btn--outline">Send</button>
                    </div>
                </form>
            </div>
        </section>
        
    </main>

    <!-- Footer -->
    <footer class="pt2 pb2">
        <div class="container align--center">
            <p>Oslo, Norway</p>
            <p>Design by <a href="https://www.linkedin.com/in/ayse-elif-dagli-24b73428/" class="link">Ayse Elif.</a></p>
            <ul class="no-bullets list--inline mt1">
                <li><a href="https://www.linkedin.com/in/ayse-elif-dagli-24b73428/" target="_blank"  class="link"><img class="icon" src="{{ url_for('static', path='images/github.svg') }}" alt="Github"></a></li>
                <li><a href="https://www.linkedin.com/in/ayse-elif-dagli-24b73428/" target="_blank"  class="link"><img class="icon" src="{{ url_for('static', path='images/linkedin.svg') }}" alt="Linkedin"></a></li>
            </ul>
            <p>&copy; Ayse Elif Dagli </p>
        </div>
    </footer>

    <!-- Scroll reveal -->
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

    <!-- The compiled JavaScript file -->
    <script src="{{ url_for('static', path='js/production.js') }}"></script>

    </body>
</html>

